@model IEnumerable<DACNWeb.Models.CategoryFood>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Thể Loại Món Ăn</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Create","CategoryFoods")" class="btn btn-sm btn-success"><i class="fas fa-plus"></i>  Create</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th width="50%">
                                Tên Thể Loại
                            </th>
                            <th width="50%">
                                Chức Năng
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenTheLoai)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IDTheLoai }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IDTheLoai })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            @*<div class="card-footer">
                    Footer
                </div>*@
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
